<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="row">
  <div class="col-md-12" id="solo">
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
    <div [ngStyle]="{'background-image':'url('+ imageUrl +')'}" class="detailImage">
    </div>
  </div>
</div>

<div class="row" id="moods">
  <div class="col-md-12">
    <h3>Face emotion status:</h3>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form>
            <button (click)="detectFace()">Find Out</button>
          </form>
          <br>
        </div>
      </div>
      <div class="row">
        <table>
          <tbody>
            <tr *ngIf="this.anger">
              <th>
                <h4>You mad bro
                  <span class="em em-angry"></span>?</h4>
              </th>
              <td>
                <h4>{{this.anger}}!</h4>
              </td>
            </tr>
            <tr *ngIf="this.joy">
              <th>
                <h4>You happy bro
                  <span class="em em-smile"></span>?</h4>
              </th>
              <td>
                <h4>{{this.joy}}!</h4>
              </td>
            </tr>
            <tr *ngIf="this.sorrow">
              <th>
                <h4>You full of sorrow bro
                  <span class="em em-cry"></span>?</h4>
              </th>
              <td>
                <h4>{{this.sorrow}}!</h4>
              </td>
            </tr>
            <tr *ngIf="this.surprise">
              <th>
                <h4>You surprised bro
                  <span class="em em-astonished"></span>?</h4>
              </th>
              <td>
                <h4>{{this.surprise}}!</h4>
              </td>
            </tr>
            <tr *ngIf="this.headwear">
              <th>
                <h4>Any headwear
                  <span class="em em-face_with_cowboy_hat"></span>?</h4>
              </th>
              <td>
                <h4>{{this.headwear}}!</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>