#moods{
    text-align: center;
}

.detailImage{
    display: block;
    margin: 0 auto;
    min-height: 500px;
    min-width: auto;
    background-position: center;
    width: 0 auto;
    align-content: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

th{
    text-align: right;
}